<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".SplashLivenessActivity"
            android:exported="false" />
        <activity
            android:name=".SelfieWithKtpActivity"
            android:exported="false" />
        <activity
            android:name=".core.base.BaseCameraActivity"
            android:exported="false" />
        <activity
            android:name=".LivenessDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>
</manifest>